<div>
  <h1>Signup</h1>
  <form [formGroup]="signupForm" (submit)="handleSignUp($event)">
    <div class="form-row">
      <label for="email">Email<span class="required">*</span></label>
      <input formControlName="email" placeholder="Enter e-mail" type="email" />
      <div
        *ngIf="
          emailControl?.invalid &&
          (emailControl?.dirty || emailControl?.touched)
        "
      >
        <span class="error" *ngIf="emailControl?.errors?.['required']"
          >Email is required.</span
        >
        <span class="error" *ngIf="emailControl?.errors?.['invalidEmail']">{{
          emailControl?.errors?.['invalidEmail']?.message
        }}</span>
      </div>
    </div>
    <div class="form-row">
      <label for="password">Password <span class="required">*</span></label>
      <input
        formControlName="password"
        placeholder="Enter password"
        type="password"
      />
      <div
        *ngIf="
          passwordControl?.invalid &&
          (passwordControl?.dirty || passwordControl?.touched)
        "
      >
        <span class="error" *ngIf="passwordControl?.errors?.['required']"
          >Password is required.</span
        >
        <span class="error" *ngIf="passwordControl?.errors?.['minLength']">{{
          passwordControl?.errors?.['minLength']
        }}</span>

        <span
          class="error"
          *ngIf="passwordControl?.errors?.['specialCharacter']"
          >{{ passwordControl?.errors?.['specialCharacter'] }}</span
        >
        <span class="error" *ngIf="passwordControl?.errors?.['fourNumbers']">{{
          passwordControl?.errors?.['fourNumbers']
        }}</span>
      </div>
    </div>
    <div class="form-row">
      <label for="username">Username<span class="required">*</span></label>
      <input
        formControlName="username"
        placeholder="Enter a username"
        type="text"
      />
    </div>
    <div class="btn-container">
      <button [disabled]="signupForm.invalid" class="submit-btn" type="submit">
        Sign up
      </button>
    </div>
  </form>
  <div class="switch-btn-container">
    <button class="switch-btn" (click)="switchToLogin()">
      Switch to Login
    </button>
  </div>
</div>
