@import '../../../../shared/styles/variables.scss';
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 40px;
  border-radius: 4px;
  background-color: $olive-green;
  color: $grey;
}

input {
  padding: 7px;
  border: 1.5px $grey solid;
  border-radius: 3px;
  color: $grey;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: medium;
}

.form-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.submit-btn {
  background-color: $grass-green;
  border-radius: 4px;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: medium;
  &:disabled {
    background-color: $disabled-grey;
    cursor: not-allowed;
  }
}

.switch-btn-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.switch-btn {
  background-color: $grass-green;
  border-radius: 4px;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: medium;
  font-weight: 400;
  font-size: medium;
}

.required {
  color: $red;
}

.error {
  color: $red;
  margin-top: 5px;
  font-size: 0.875em;
}

h1 {
  color: $grey;
  margin: 20px;
  font-weight: 400;
}
