<div class="recipe-container">
  <ng-container *ngIf="recipe$ | async as recipe; else spinnerTemplate">
    <div
      [style.background-image]="'url(' + recipe.image + ')'"
      class="recipe-image"
    >
      <div class="overlay">
        <h1>{{ recipe.title | uppercase }}</h1>
      </div>
    </div>
    <div class="recipe-details">
      <div class="recipe-description">{{ recipe.description | uppercase }}</div>
      <div class="recipe-stats">
        <p>
          <b>{{ recipe.cookingTime }}</b> min
        </p>
        <p>
          <b>{{ recipe.servings }}</b> servings
        </p>
        <button (click)="onAddToMeal(recipe.id)" class="add-btn">
          Add to meal
        </button>
      </div>
      <hr class="line-break" />
    </div>
    <div class="recipe-ingredients">
      <h2>Recipe Ingredients</h2>
      {{ recipe.ingredients }}
    </div>
  </ng-container>
</div>

<ng-template #spinnerTemplate>
  <app-spinner></app-spinner>
</ng-template>
