<div class="recipe-container">
  <ng-container *ngIf="recipe$ | async as recipe; else spinnerTemplate">
    <div
      [style.background-image]="'url(' + recipe.image + ')'"
      class="recipe-image"
    >
      <div class="overlay">
        <h1>{{ recipe.title | uppercase }}</h1>
      </div>
    </div>
    <div class="recipe-details">
      <div class="recipe-description">
        {{ recipe.description | titlecase }}
      </div>
      <div class="recipe-stats">
        <p class="stat">
          <img src="../../../../../assets/calories.svg" alt="calories" />
          <b>{{ recipe.calories }}</b>
        </p>
        <p class="stat">
          <img src="../../../../../assets/clock.svg" alt="time" />
          <b>{{ recipe.cookingTime }}</b> min
        </p>
        <p class="stat">
          <img src="../../../../../assets/users.svg" alt="servings" />
          <b>{{ recipe.servings }}</b> servings
        </p>
        <button (click)="onAddToMeal(recipe.id)" class="add-btn">
          Add to meal
        </button>
      </div>
      <hr class="line-break" />
    </div>
    <div class="recipe-ingredients">
      <h2>Recipe Ingredients</h2>
      <div class="ingredients">
        <app-recipe-ingredient
          *ngFor="let ingredient of recipe.ingredients"
          [ingredient]="ingredient"
        ></app-recipe-ingredient>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #spinnerTemplate>
  <app-spinner></app-spinner>
</ng-template>
