<ng-container *ngIf="products$ | async as products; else spinnerTemplate">
    <div class="cards-container" *ngIf="products.length; else noDataTemplate">
        @for (product of products; track $index) {
        <app-product-card *ngIf="product" draggable="true" [product]="product" [appDraggable]="product"></app-product-card>
        }
    </div>
    <ng-template #noDataTemplate>
        <p class="no-data">
            There is no such product, try searching for a different one
        </p>
    </ng-template>
    <div appDroppable class="trash-can">Drag to delete product</div>
</ng-container>

<ng-template #spinnerTemplate>
    <app-spinner></app-spinner>
</ng-template>