@import '../../../../shared/styles/variables.scss';
.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.no-data {
  font-size: xx-large;
  font-weight: 500;
  color: $grey;
}
