@import '../../../../shared/styles/variables.scss';
.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.no-data {
    font-size: xx-large;
    font-weight: 500;
    color: $grey;
}

.trash-can {
    background-color: rgb(195, 195, 195);
    border: 2px dashed rgb(118, 118, 118);
    border-radius: 4px;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropped-item {
    border: 1px solid $light-grey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    color: $swamp-green;
    width: fit-content;
    height: fit-content;
}

.invisible {
    visibility: hidden;
}