@import '../../../styles.scss';
.header {
  background-color: $dark-green;
  color: #ffff;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: 18px;
  height: 80px;
  padding: 0 150px;
}

.navigation,
.user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  width: fit-content;
}

.navigation,
.user-actions {
  a {
    align-content: center;
    height: 100%;
    padding: 0 5px;
    transition: 0.3s;
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
      text-shadow: 0px 4px 4px #0000;
      background-color: $highlight-green;
    }
  }
}
