@import '../../../styles.scss';
.header {
  background-color: $dark-green;
  color: #ffff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: stretch;
  font-size: 18px;
  height: 80px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 90px;
}

.navigation,
.user-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: fit-content;
  a {
    align-content: center;
    height: 100%;
    padding: 0 5px;
    transition: 0.3s;
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
      text-shadow: 0px 4px 4px #0000;
      background-color: $highlight-green;
    }
  }
}

@media (max-width: 768px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
}
