<header class="header">
  <div class="header-content">
    <div class="navigation">
      <a
        *appRole="'user,subscribed'"
        routerLinkActive="active-link"
        routerLink="/products"
        >Products</a
      >
      <a routerLinkActive="active-link" routerLink="/recipes/all/1">Recipes</a>
      <a
        *appRole="'user,subscribed'"
        routerLinkActive="active-link"
        routerLink="/home"
        >Home</a
      >
    </div>
    <div class="user-actions">
      <a
        *appRole="'user,subscribed'"
        routerLinkActive="active-link"
        routerLink="/user"
      >
        <img [src]="profilePicture$ | async" alt="profile" />
      </a>
      <button
        *appRole="'user,subscribed'"
        type="button"
        (click)="onLogOut()"
        class="logout-btn"
      >
        Logout
      </button>
      <a *appRole="'guest'" routerLink="/auth/login">Login</a>
    </div>
  </div>
</header>
