<table class="products-table">
  <tr>
    <th *ngFor="let title of titles">{{ title | uppercase }}</th>
  </tr>
  <tr
    *ngFor="let product of products$ | async"
    (mouseenter)="onToggleHover(product.id, true)"
    (mouseleave)="onToggleHover(product.id, false)"
  >
    <td>{{ product.name }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.expiresAt | stringToDate | date: 'd MMM, yyyy' }}</td>
    <div *ngIf="product.id === hoverIndex" class="action-icons">
      <button class="edit-btn" (click)="onEditProduct()">
        <img src="../../../../../assets/edit.svg" />
      </button>
      <button class="delete-btn" (click)="onDeleteProduct()">
        <img src="../../../../../assets/delete.svg" />
      </button>
    </div>
  </tr>
</table>
