<div class="meal-container">
  <div class="meal-details">
    <img alt="recipe" src="../../../../../assets/lunch.webp" />
    <h2 class="meal-title">Recipe title</h2>
    <p class="meal-description">
      Recipe details Recipe details Recipe details Recipe details Recipe details
      Recipe details Recipe details Recipe details Recipe details Recipe details
      Recipe details
    </p>
    <p class="missing-details">
      <b>Missing:</b> <span>Missing ingredient</span>
      <span>Missing ingredient</span> <span>Missing ingredient</span>
      <span>Missing ingredient</span>
      <span>Missing ingredient</span>
    </p>
  </div>
  <div class="meal-actions">
    <button class="change-btn">Change</button>
    <button class="delete-btn">Delete</button>
  </div>
</div>
