@import '../../shared/styles/variables.scss';
.main {
  padding: 80px;
  color: $grey;
  box-sizing: border-box;
  overflow-y: hidden;
  gap: 500px;
  h1 {
    width: 100%;
    justify-content: flex-start;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    .username {
      color: $grass-green;
      font-weight: 600;
    }
  }
  .profile {
    width: 80px;
  }
  .subscription-plan {
    padding: 10px 0px;
    font-size: large;
    margin-bottom: 20px;
    span {
      color: $grass-green;
    }
  }
}
