@import '../../../../shared/styles/variables.scss';
.card-container {
  border: 1px solid $light-grey;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 100px;
  min-width: 120px;
  h3,
  p {
    margin: 0;
  }
  h3 {
    color: $product-green;
    margin: 5px 0px;
    font-weight: 500;
  }
  .quantity {
    font-weight: 300;
    font-size: larger;
  }
  .expiration {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
  }
}
