@import '../../../styles.scss';
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px 0px 80px 0px;
}

.title {
  color: $grey;
  font-weight: 400;
  margin-bottom: 30px;
}

.meals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  gap: 40px;
}

@media (max-width: 720px) {
  .meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    gap: 40px;
  }
}
