@import '../../shared/styles/variables.scss';
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;
  box-sizing: border-box;
  justify-content: center;
}

.title {
  color: $grey;
  font-weight: 400;
  margin-bottom: 30px;
}

.meals {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  max-width: 1240px;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .meals {
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
  }
}
