//app palette
$dark-green: #207918;
$highlight-green: #399a18;
$bright-green: #47c41c;
$swamp-green: #11712d;
$grass-green: #04952d;
$product-green: #11712d;
$olive-green: #ccd1cd;
$grey: #3c3e3c;
$light-grey: #848484;
$disabled-grey: #8e8e8e;
$red: #f61616;
$light-red: #ec6363;
$yellow: #f6d816;
