<div>
  <form [formGroup]="loginForm" (submit)="handleLogin($event)">
    <div class="form-row">
      <label for="email">Email<span class="required">*</span></label>
      <input formControlName="email" placeholder="Enter e-mail" type="email" />
      <div
        *ngIf="
          emailControl?.invalid &&
          (emailControl?.dirty || emailControl?.touched)
        "
      >
        <span class="error" *ngIf="emailControl?.errors?.['required']"
          >Email is required.</span
        >
        <span class="error" *ngIf="emailControl?.errors?.['invalidEmail']">{{
          emailControl?.errors?.['invalidEmail']?.message
        }}</span>
      </div>
    </div>
    <div class="form-row">
      <label for="password">Password <span class="required">*</span></label>
      <input
        formControlName="password"
        placeholder="Enter password"
        type="password"
      />
      <div
        *ngIf="
          passwordControl?.invalid &&
          (passwordControl?.dirty || passwordControl?.touched)
        "
      >
        <span class="error" *ngIf="passwordControl?.errors?.['required']"
          >Password is required.</span
        >
        <span class="error" *ngIf="passwordControl?.errors?.['minLength']">{{
          passwordControl?.errors?.['minLength']
        }}</span>

        <span
          class="error"
          *ngIf="passwordControl?.errors?.['specialCharacter']"
          >{{ passwordControl?.errors?.['specialCharacter'] }}</span
        >
        <span class="error" *ngIf="passwordControl?.errors?.['fourNumbers']">{{
          passwordControl?.errors?.['fourNumbers']
        }}</span>
      </div>
    </div>
    <div class="btn-container">
      <button [disabled]="loginForm.invalid" class="submit-btn" type="submit">
        Login
      </button>
    </div>
  </form>
</div>
