@import '../../shared/styles/variables.scss';
.main {
  padding: 80px 25px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  h1 {
    width: 100%;
    justify-content: flex-start;
    font-weight: 400;
    margin: 30px 0px 10px 0px;
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .add-btn {
    border: none;
    border-radius: 4;
    background-color: $dark-green;
    color: #ffff;
    padding: 5px 6px;
  }
}
