@import '../../shared/styles/variables.scss';
.main {
  display: grid;
  padding: 60px 0px;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1.1fr 5fr;
  grid-template-rows: 1fr 4fr 5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'Pagination actions actions' 'Pagination Recipe-photo Recipe-photo' 'Pagination Recipe-details Recipe-details';
  background-color: #f2efef;
}

.recipe-menu {
  grid-area: Pagination;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.recipe-actions {
  background-color: #d9d9d9;
  grid-area: actions;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.pagination-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.next-btn,
.prev-btn {
  color: #ffff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: medium;
}

.next-btn:hover,
.prev-btn:hover {
  cursor: pointer;
}

.next-btn {
  background-color: $grass-green;
}

.prev-btn {
  background-color: $swamp-green;
}

.next-btn[disabled],
.prev-btn[disabled] {
  background-color: $disabled-grey;
  cursor: not-allowed;
}
