.main {
  display: grid;
  padding: 60px 0px;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'Pagination actions actions' 'Pagination Recipe-photo Recipe-photo' 'Pagination Recipe-details Recipe-details';
  background-color: #f2efef;
}

.recipe-menu {
  grid-area: Pagination;
}

.recipe-actions {
  background-color: #d9d9d9;
  grid-area: actions;
}

.recipe-photo {
  grid-area: Recipe-photo;
}

.recipe-details {
  background-color: #d9d9d9;
  grid-area: Recipe-details;
}
